* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


.content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5em auto;
}

.content p {
    margin-bottom: 2em;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    padding: 15% 0;
}

.block {
    flex-grow: 1;
    flex-basis: 20em;
}

.block2 {
    flex-grow: 1;
    flex-basis: 10em;
    text-align: left;
}

.right {
    flex-grow: 1;
    flex-basis: 10em;
    text-align: right;
}

.thumbnail {
    flex-grow: 1;
    flex-basis: 15em;
    margin: 1em;
}

/*responsiveness*/
@media (max-width: 60em) {
    .content {
        width: 70%;
    }

    .hover-text {
        width: 100%;
    }
}

@media (max-width: 45em) {
    h1 {
        font-size: 3em;
    }

    .hover-text {
        font-size: 1.8em;
    }
}

@media (max-width: 33em) {
    .content2 {
        width: 95%;
    }

    .content {
        width: 85%;
        font-size: 85%;
    }

    .right {
        text-align: center;
    }
}