* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5em auto;
}

.block {
    flex-grow: 1;
    flex-basis: 20em;
}

.block2 {
    flex-grow: 1;
    flex-basis: 10em;
}

.right {
    flex-grow: 1;
    flex-basis: 10em;
    text-align: right;
}

.thumbnail {
    flex-grow: 1;
    flex-basis: 20em;
    margin: 0.5em;
}
