body {
  font-family: Lato, sans-serif;
  margin: 0;
}

p {
  font-family: Source Sans Pro, sans-serif;
  font-size: 1.2em;
  color: #333;
}

header {
  padding: 0 2%;
  background-color: #27ae60;
}

header .right {
  margin: 1em 0;
}

footer .block {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: #27ae60;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.3s ease-out
}

a:hover {
  font-weight: bold;
  color: #27ae60;
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-size: 0.9em;
  font-weight: bold;
  color: #c7ead6;
}

nav a:hover {
  color: white;
}

code {
  display: block;
  margin-bottom: 1em;
}

section h2 {
  border-bottom: dashed #a1cf5b 1px;
}

section h3 {
  margin-bottom: 0.25em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #ced5c3;
  padding: 1em 1.5em;
}

section, #grid-struct {
  padding: 2rem;
}

.shaded {
  background-color: #f9fcf4;
}

.centered {
  text-align: center;
}

.content2 h2 {
  margin: 1.5em 0;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

em {
  color: #27ae60;
  font-style: normal;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*Submit button*/
.button {
  background-color: white;
  border: solid #a1cf5b 3px;
  padding: 1em 2em;
  color: #a1cf5b;
  border-radius: .5em;
  margin: 1em;
  font-family: Lato;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.button:hover, .button:focus {
  background-color: #a1cf5b;
  color: white;
}

/*Reset button*/
.button2 {
  background-color: white;
  border: solid #333 3px;
  padding: 1em 2em;
  color: #333;
  border-radius: .5em;
  margin: 1em;
  font-family: Lato;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.button2:hover, .button2:focus {
  color: white;
  background-color: #333;
}



/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-size: 5em;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.head1 {
  font-size: 2em;
  letter-spacing: 0.8em;
  font-family: Lato, sans-serif;
  font-weight: normal;
  color: white;
}

h2 {
  margin-top: 0;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

ul {
  list-style-type: circle;
  font-family: Source Sans Pro, sans-serif;
}

ol {
  font-family: Source Sans Pro, sans-serif;
}

.green p {
  font-size: 1.5em;
}




/*colour swatches*/
.color1  {
  background-color: #f9fcf4;
  border: solid lightgrey 1px;
}

.color2  {
  background-color: #ced5c3;
}

.color3  {
  background-color: #27ae60;
}

.color4  {
  background-color: #333333;
}

.color1, .color2, .color3, .color4 {
  padding-top: 1.5em;
  margin-bottom: 0.5em;
}

.col1 {
  background-color: #1a1a1a;
}

.col2 {
  background-color: #404040;
}

.col3 {
  background-color: #666666;
}

.col4 {
  background-color: #8c8c8c;
}

.col1, .col2, .col3, .col4 {
  padding: 1em;
  padding-top: 2em;
  margin-bottom: 0.5em;
}

.green-border{
  border-top: dotted #a1cf5b 0.5em;
  border-bottom: dotted #a1cf5b 0.5em;
}

.colour-name{
  color: black;
  margin-top: 1em;
  font-family: Lato;
  text-align: center;
}

.green {
  background-color: #27ae60;
  color: white;
  padding: 16% 0;
}

.green p {
  color: white;
}

.color4 .colour-name{
  color: white;
}

.grid-name{
  color: white;
  margin-top: 1em;
  font-family: Lato;
  text-align: center;
  letter-spacing: 0.2em;
}

/*videos*/
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 /*learned how to make video player size responsive from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php*/

 
/*other*/

/*project thumbnail hover code*/
.hover-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.hover-container:hover .overlay {
  opacity: 0.7;
}

.hover-container:hover .hover-text {
  font-weight: normal;
  opacity: 1;
}

.hover-text {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*learned from https://www.w3schools.com/howto/howto_css_image_overlay.asp*/
/*end of project thumbnail hover code*/



::-moz-selection { /* Code for Firefox */
  color: white;
  background: #27ae60;
}
::selection {
  color: white;
  background: #27ae60;
}
/*changing selection colour from https://www.w3schools.com/cssref/sel_selection.asp*/